<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="page-content container note-has-grid">
  <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
    <li class="nav-item">
      <div
        class="d-none d-md-block"
        class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active"
      >
        All Notes
      </div>
    </li>
    <li class="nav-item ml-auto">
      <button
        class="d-none d-md-block font-14"
        class="nav-link btn-primary rounded-pill d-flex align-items-center px-3"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addnotemodal"
      >
        Add Note
      </button>
    </li>
  </ul>
  <div class="tab-content bg-transparent">
    <div *ngFor="let note of notes" class="note-has-grid row">
      <div class="col-md-4 single-note-item all-category">
        <div class="card card-body">
          <span class="side-stick"></span>
          <div class="note-content">
            <p class="note-inner-content text-muted">
              {{ note.content }}
            </p>
            <button
              class="d-none d-md-block font-14"
              class="nav-link btn-primary rounded-pill d-flex align-items-center px-3"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#editnotemodal"
              (click)="onOpenEditModal(note)"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add note -->
  <div
    class="modal fade"
    id="addnotemodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addnotemodalTitle"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0">
        <form #addForm="ngForm">
          <div class="modal-header bg-info text-white">
            <h5 class="modal-title text-white">Add Note</h5>
            <button
              id="close-add-modal"
              type="button"
              class="close text-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="notes-box">
              <div class="notes-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="note-description">
                      <label>Note Content</label>
                      <textarea
                        name="content"
                        ngModel
                        class="form-control"
                        minlength="0"
                        maxlength="200"
                        placeholder="Content"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              (click)="onAddNote(addForm)"
              id="btn-n-add"
              class="btn btn-info"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Edit note -->
  <div
    class="modal fade"
    id="editnotemodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editnotemodalTitle"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0">
        <form #editForm="ngForm">
          <div class="modal-header bg-info text-white">
            <h5 class="modal-title text-white">Edit Note</h5>
            <button
              id="close-edit-modal"
              type="button"
              class="close text-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="notes-box">
              <div class="notes-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="note-description">
                      <label>Note Content</label>
                      <input
                        type="hidden"
                        name="id"
                        ngModel="{{ editNote?.id }}"
                      />
                      <textarea
                        name="content"
                        ngModel="{{ editNote?.content }}"
                        id="note-has-description"
                        class="form-control"
                        minlength="0"
                        maxlength="200"
                        placeholder="Content"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              (click)="onDeleteNote(editNote.id)"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
            <button
              (click)="onUpdateNote(editForm.value)"
              id="btn-n-add"
              class="btn btn-info"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
