body {
    background: lightblue;
}

.note-content {
    width: 200px;
    height: 200px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    transform: rotate(2deg);
    transform: perspective(100px) rotateX(2deg);
}